.card-detalle{
    margin: 0 auto;
   }
.imgProd{
    text-align: center;
}
h4.nombre-detalle{
    color: #fff;
    text-align: center;

}
.precioDetalle{
    color: #fff;
    text-align: center;
}

swal-custom-background{
  background-color: transparent;
}